p{
   color: rgb(83, 6, 83);
   text-align: center;
}

input{
    border-bottom-color: rgb(12, 1, 1);
    border: 2px solid;
    background-color: rgb(231, 184, 241);
    padding-bottom: 5px;
}

li{
    list-style-type: square;

}